body{
    background-image: url('./assets/background1.jpg');
    overflow:hidden;
    background-size: cover;
    height:100%;
}

#form1{
    margin-top: 20%;
    background-color:rgba(204, 204, 204, 0.5);
}